roms/*
!roms/lasagna.zed

user/*
!user/objects/*
!user/images/*
!user/documents/*
!user/downloads/*
!user/music/*
!user/videos/*

config/desktop_category_entries.rmf
config/theme.rmf
config/user.rmf
config/widgets.rmf

perm/*
temp/*
